/* Подключаем Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
}

h1, h2 {
    color: #222;
    font-weight: 700;
}

p {
    font-weight: 400;
    color: #555;
}

.navbar {
    background-color: #007BFF;
    padding: 15px 10px;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    font-weight: 500;
}

.navbar a:hover {
    text-decoration: underline;
}

.container {
    max-width: 900px;
    margin: 50px auto;
    padding: 20px;
}

img {
    border-radius: 50%;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    width: 150px;
    height: 150px;
    transition: transform 0.3s;
}

img:hover {
    transform: scale(1.05);
}

footer {
    background-color: #007BFF;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
